body{
margin:0px;
}

header{
    display: grid;
    width: 100%;
    height: 80px;
    background-color: white;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
}
header > img{
    grid-column: 2/4;
}
.textoInciarSesion{
    grid-column: 9/10;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    color: #E50033;
}
.textoCrearCuenta{
    grid-column: 11/12;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    color: #E50033;
}



.contenido{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    height: 630px;
    background-color: #E50033;
    align-items: center;
    justify-content: center;
}
.formulario{
    display: grid;
    grid-column: 5/6;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(6, 17%);
    width: 400px;
    height: 400px;
    font-family: 'Lato', sans-serif;
    background-image: url(Images/cuadradoRegistro.png);
}
.formulario > h3{
    display: grid;
    grid-row: 1/2;
    grid-column: 2/4;
    margin-left: 20%;
    font-size: 32px;
    color: #330033;
}
.formulario > form{
    display: grid;
    grid-row: 3/9;
    grid-column: 3/6;
    justify-content: space-around;
}
.formulario > form > input{
    height: 30px;
  background-color: #660033;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  grid-column: 3/6;
}
.cancelar{
    width: 90px;
    height: 30px;
    background-color: #0F0033;
    color: white;
    border-radius: 10px;
    grid-row:8/9;
    grid-column: 3/4;
}
.aceptar{
    width: 90px;
    height: 30px;
    background-color: #E50033;
    color: white;
    border-radius: 10px;
    grid-row: 8/9;
    grid-column: 4/5;
}



footer{
    width: 100%;
    height: 60px;
    background-color: #330033;
}