body{
    margin: 0px;
}
.contenedor{
 width: 100%;
height: 100vh;
display: grid;
grid-template-columns: 300px auto;
grid-template-rows: 40vh 1000px 80px;
}

.menu{
        display: grid;
        grid-column: 1/2;
        grid-row: 1/4;
        width: 300px;
        height: 100%;  
        background-color: #E50033;
        position: fixed;
        grid-template-rows: 300px 300px;
    }
.perfil{
    display: grid;
    width: 100%;
    height: auto;  
    grid-row: 1/2;
    justify-content: center;
    padding-top: 40px;
}
.perfil>img{
    display: grid;
    width: 120px;
    height: 120px;  
    border-radius: 100px;
    background-color: white;
}
.perfil>p{
    display: grid;  
    height: 70px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
}
.ventanas{
    display: grid;
    width: 100%;
    height: auto;  
    grid-row: 2/3;
}
.pagina{
    display: grid;
    width: 90%;
    height: 65px;
    color: #E50033;
    background-color: #660033;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}
.pagina2{
    display: grid;
    width: 90%;
    height: 65px;
    color: #E50033;
    background-color: #0F0033;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}
.paginaSeleccionada{
    display: grid;
    width: 90%;
    height: 65px;
    margin-left: 10%;
    padding-left: 30px;
    color: #E50033;
    background-color: white;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}
    
.header{
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
        height: auto;  
        background-color: #0F0033;
    }
    
.contenido{
        display: grid;
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100%;
        height: auto; 
        background-color: white;
    }
    
.footer{
        display: grid;
        grid-column: 2/3;
        grid-row: 3/4;
        width: 100%;
        height: auto; 
        background-color: #330033;
    } 